{% extends 'base.html' %}


{% block content%}


<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#">My Profile </a>
			<a class="list-group-item" href="#"> Manage Address</a>
			<a class="list-group-item {% if '/accounts/my_orders/' == request.path %}active{% endif %}" href="{% url 'my_orders'%}">My orders </a>
			<a class="list-group-item {% if '/accounts/edit_profile/' == request.path %}active{% endif %}"  href="{% url 'edit_profile'%}"> Edit Profile</a>
			<a class="list-group-item" href="#">Change Password</a>
			{% comment %} <a class="list-group-item" href="#"> My Selling Items </a>
			<a class="list-group-item" href="#"> Received orders </a> {% endcomment %}
		</ul>
		<br>
		<a class="btn btn-light btn-block mb-3" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Logged in as:</strong>
			<span>{{ user.full_name }}</span>
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-6">
					<div class="card" style="text-align:center">
						<div class="card-body">
							<h5 class="card-title">Total orders</h5>
							<h4>{{orders_count}}</h4>
							<a href="">View orders</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card" style="text-align:center">
						<div class="card-body">
							<img src="https://www.w3schools.com/w3images/avatar2.png" alt="User Profile Photo"
							 width="50" height="50" style="border-radius:50%" class="mb-2">
							<p class="mb-0">{{user.email}}</p>
							<p>{{user.mobile}}</p>
						</div>
					</div>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>





{% endblock %}