{% extends 'superuser/adminbase.html' %}
{% load widget_tweaks %}

{% block productclass %}
text-light
{% endblock %}

{% block tablecontent %} 

    Product updation

{% endblock %}


{% block maincontent %}
        
<div class="card w-75 mx-auto">
    <div class="card-body shadow-sm">
    
        <form action="" enctype="multipart/form-data" method="POST">
            {% csrf_token %}


            
            <div class="form-group">
                <label for="">Product Name</label>
                {% render_field form.product_name placeholder="Product Name" class="form-control" id="Product_name"  %}
            </div>
            <div class="form-group d-none">
                <label for="">Slug name</label>
                {% render_field form.slug placeholder="slug field" class="form-control" id="Slug" %}
            </div>
            <div class="form-group">
                <label for="">Category_id</label>
                {% render_field form.category_id placeholder="Category Id" class="form-control" id="category_id"  %}
            </div>
            <div class="form-group">
                <label for="">description</label>
                {% render_field form.description placeholder="description" class="form-control"  %}
            </div>
            <div class="form-group">
                <label for="">Rating</label>
                {% render_field form.rating placeholder="rating" class="form-control" %}
            </div>
             <div class="form-group">
                <label for="">Product MaxPrice</label>
                {% render_field form.product_max_price placeholder="Maxprice" class="form-control" %}
            </div>
             <div class="form-group">
                <label for="">Long description</label>
                {% render_field form.product_long_description placeholder="Long description" class="form-control" %}
            </div>
             <div class="form-group d-none">
                <label for="">Product Offer</label>
                {% render_field form.product_offer placeholder="product_offer" class="form-control" %}
            </div>
             <div class="form-group">
                <label for="">Main Image</label>
                {% render_field form.pro_images  placeholder="Image" class="form-control" %}
            </div>
            <div class="form-group">
                <label for="">Sub-images</label>
                {% render_field form.pro_image_1  placeholder="Image" class="form-control" %}
            </div>
            <div class="form-group">
                <label for="">Sub-images</label>
                {% render_field form.pro_image_2  placeholder="Image" class="form-control" %}
            </div>
             <div class="form-group">
                <label for="">Sub-images</label>
                {% render_field form.pro_image_3  placeholder="Image" class="form-control" %}
            </div>
             <div class="form-group">
                <label for="">Sub-images</label>
                {% render_field form.pro_image_4  placeholder="Image" class="form-control" %}
            </div>
            <div class="form-group">
                <label for="">No. of stock</label>
                {% render_field form.stock placeholder="stock" class="form-control" %}
            </div>

           <div class="form-group">
                <label for="">Title specification</label>
                {% render_field form.spec_title placeholder="spec Title" class="form-control" %}
            </div>
            <div class="form-group">
                <label for="">Spec description</label>
                {% render_field form.spec_description placeholder="spec description" class="form-control" %}
            </div>
           <div >
           <div class="form-check">
                
               {% render_field form.is_available  type="checkbox" class="form group" %}
                <label for="">
                    Availability
                </label>
           </div> 
            <button class="btn btn-success btn-rounded" type="submit">Submit</button>
           </div>
    
            
        </form>
    </div>

</div>

<script>
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $('#blah').attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
            setTimeout(initCropper, 1000);
        }
        }
        function initCropper(){
        console.log("Came here")
        var image = document.getElementById('blah');
        var cropper = new Cropper(image, {
            aspectRatio: 16 / 9,
            crop: function(e) {
            console.log(e.detail.x);
            console.log(e.detail.y);
            }
        });

        // On crop button clicked
        document.getElementById('crop_button').addEventListener('click', function(){
            var imgurl =  cropper.getCroppedCanvas().toDataURL();
            var img = document.createElement("img");
            img.src = imgurl;
            document.getElementById("cropped_result").appendChild(img);

            /* ---------------- SEND IMAGE TO THE SERVER-------------------------

                        cropper.getCroppedCanvas().toBlob(function (blob) {
                            var formData = new FormData();
                            formData.append('croppedImage', blob);
                            // Use `jQuery.ajax` method
                            $.ajax('/path/to/upload', {
                                method: "POST",
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function () {
                                console.log('Upload success');
                                },
                                error: function () {
                                console.log('Upload error');
                                }
                            });
                        });
                    ----------------------------------------------------*/
        })
        }

</script>



{% endblock %}