{% extends 'superuser/adminbase.html' %}
{% load static %}




{% block productclass %}
text-light
{% endblock %}



{% block tablecontent %} 
Product List

{% endblock %}


{% block maincontent %}

{% for message in messages %}
   <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>  
  {%endfor%}



<div class="mx-auto" style="width: 400px;">
  
  <a href="{% url 'product-add' %}" class="btn btn-info btn-rounded ml-5">Add Product </a> 
  
  
{% comment %} 
  <a href="{% url 'specifications' %}" class="btn btn-info btn-rounded ml-5"> Add specifications</a> {% endcomment %}


</div>

<br><br>
<br><br>  
<table class="table">
  <thead>
    <tr>
      
      <th scope="col" class="text-light">Products</th>
      <th scope="col" class="text-light">price</th>
      <th scope="col" class="text-light">rating</th>
      <th scope="col" class="text-light">Image</th>
      <th scope="col" class="text-light">Items Left</th>
      <th scope="col" class="text-light">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for products in  productedlist %}
    <tr>
      <th scope="row" class="text-light">{{products.product_name}}</th>
      <td class="text-light">{{products.product_max_price}}</td>
      <td class="text-light">{{products.rating}}</td>
      <td class="text-light"><img src='{{products.pro_images.url}}'height='100px'</td>
      <td class="text-light">{{products.stock}}</td>
      <td class="text-light">

        <form action="{% url 'product_delete' id=products.id %}" method = "POST">
          {% csrf_token %}
          <button class="btn btn-danger btn-rounded" type="submit">Delete</button>
        </form>
      </td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>


  <!-- pagination -->
  <br><br>
  <!-- {{userlist}}<br>
  Has Previous: {{userlist.has_previous}}<br>
  Has Next: {{userlist.has_next}}<br>
  Current Page : {{userlist.number}}<br>
  Number of pages: {{userlist.paginator.num_pages}}<br>
  <hr><br><br> -->

<nav aria-label="Page navigation example">
  <ul class="pagination">
      
  {% if productedlist.has_previous %}
      <li class="page-item"><a class="page-link btn-danger"  href="?page=1">&laquo First</a></li>
      <li class="page-item"><a class="page-link btn-danger"  href="?page={{ productedlist.previous_page_number }}"> previous</a></li>
  {%endif%}
   <li class="page-item disabled"><a href="#" class="page-link badge-danger" > Page {{productedlist.number}} of {{productedlist.paginator.num_pages}}</a></li>
  {% if productedlist.has_next %}
     <li class="page-item"><a class="page-link btn-danger"  href="?page={{productedlist.next_page_number}}">Next</a></li>
     <li class="page-item"><a class="page-link btn-danger"  href="?page={{productedlist.paginatior.num_pages }}">Last &raquo</a></li>
  {% endif%}

  </ul>
</nav>

{% endblock %}