 {% comment %} <aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> ACCOUNT DETAILS</a>
			<a class="list-group-item" href="#"> ORDERS </a>
			<a class="list-group-item" href="#"> ADDRESSES</a>
			
			
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>  {% endcomment %}

	<div class="col-sm-12 col-md-3 col-lg-3">
		<ul class="list-group">
			<a class="list-group-item active" href="#"> ACCOUNT DETAILS</a>
			<a class="list-group-item" href="#"> ORDERS </a>
			<a class="list-group-item" href="#"> ADDRESSES</a>
			
			
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 

	</div>

{% comment %} 
	<div class="col-sm-12 col-md-3 col-lg-3">
    <!-- Nav tabs -->
    <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
        <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a href=""
                class="nav-link btn btn-block btn-md btn-black-default-hover">Account details</a>
        </li>
            <li> <a href=""
                    class="nav-link btn btn-block btn-md btn-black-default-hover">Orders</a></li>
            <li><a href="" 
                    class="nav-link btn btn-block btn-md btn-black-default-hover">Addresses</a></li>

            <li><a href=""
                    class="nav-link btn btn-block btn-md btn-black-default-hover">logout</a></li>
        </ul>
    </div>
</div> {% endcomment %}