{% extends 'base.html' %}

{% load static %}


{% block title %}
Product details
{% endblock %}

{% block content %}

 <div class="breadcumb_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% comment %} <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="#"></a></li>
                            <li class="breadcrumb-item"><a href="#"></a></li>
                            <li class="breadcrumb-item active"></li>
                        </ol> {% endcomment %}
                        <!-- btn -->
                        <a href="{% url 'store'%}" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>
                    </div>
                </div>
            </div>
        </div>



<section class="single_product_details_area section_padding_0_100">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="single_product_thumb row justify-content-between p-4">
                    <div class="single-prd-item">
                        <img  width="510px" class="img-fluid" src="{{single_product.pro_images.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img   width = "120px"  class="img-fluid" src="{{single_product.pro_image_1.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img  width = "120px"  class="img-fluid" src="{{single_product.pro_image_2.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img width="120px" class="img-fluid" src="{{single_product.pro_image_3.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img  width = "120px" class="img-fluid" src="{{single_product.pro_image_4.url}}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="single_product_desc">
                    <div class= "raw m-4">
                        <h4 class="title"><a href="#">{{single_product.product_name}}</a></h4>

                        <h4 class="price">{{single_product.product_max_price}}</h4>
                        {% if single_product.is_available == True %}
                        <p class="available">Available: <span class="text-muted">In stocks</span></p>
                            {% else%}
                             <p class="available">Available: <span class="text-muted">Out of Stocks</span></p>
                            {% endif %}
                         {% comment %} <div class="single_product_ratings mb-15">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>  {% endcomment %}


                        <!-- Add to Cart Form -->
                        {% if single_product.stock <= 0 %}
                         <h5 class="text-danger"> Out of stock </h5>
                         {% else %}
                            {% if in_cart %}
                             <div class="cart clearfix mb-50 d-flex">

                            <a href="#" class="btn btn-success  btn-lg d-block ml-4" >Added to cart</a>
                            <a href="{% url 'cart' %}" class="btn btn-outline-primary  btn-lg d-block ml-4" >View Cart</a>

                            {% else %}
                        <div class="cart clearfix mb-50 d-flex">
                            
                            <a href="{% url 'add_cart' single_product.id %}"   class="btn cart-submit d-block" >Add to Cart</a>
                            {% endif %}
                        </div>
                        {% endif %}

                        <div id="accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Information</a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>{{single_product.product_long_description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Cart Details</a>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>{{single_product.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">shipping &amp; Returns</a>
                                    </h6>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo sint repudiandae suscipit ab soluta delectus voluptate, vero vitae, tempore maxime rerum iste dolorem mollitia perferendis distinctio. Quibusdam laboriosam rerum distinctio. Repudiandae fugit odit, sequi id!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae qui maxime consequatur laudantium temporibus ad et. A optio inventore deleniti ipsa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->


{% endblock%}