{% extends 'base.html' %}
{% load static %}
{% block title %}
store Page

{% endblock%}

{% block content %}


<section class="shop_grid_area section_padding_100">
       <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">
                   
                    <div class="widget catagory mb-50">
                        <!--  Side Nav  -->
                        <div class="nav-side-menu">
                            <h6 class="mb-0">Catagories</h6>
                            <div class="menu-list">
                                <ul id="menu-content2" class="menu-content collapse out">
                                    <!-- Single Item -->
                                      <li><a href="{% url 'store'%}">All products</a></li> 
                                    {% for category in links %} 
                                    <li data-toggle="collapse" data-target="#women2">
                                        <a href="{{category.get_absolute_url}}">{{category.category_name}}</a>
                                    </li>
                                    {% endfor%}
                                    <!-- Single Item -->
                                    {% comment %} <li data-toggle="collapse" data-target="#man2" class="collapsed">
                                        <a href="#">Man Wear</a>
                                        <ul class="sub-menu collapse" id="man2">
                                            <li><a href="#">Man Dresses</a></li>
                                            <li><a href="#">Man Black Dresses</a></li>
                                            <li><a href="#">Man Mini Dresses</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#kids2" class="collapsed">
                                        <a href="#">Children</a>
                                        <ul class="sub-menu collapse" id="kids2">
                                            <li><a href="#">Children Dresses</a></li>
                                            <li><a href="#">Mini Dresses</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#bags2" class="collapsed">
                                        <a href="#">Bags &amp; Purses</a>
                                        <ul class="sub-menu collapse" id="bags2">
                                            <li><a href="#">Bags</a></li>
                                            <li><a href="#">Purses</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#eyewear2" class="collapsed">
                                        <a href="#">Eyewear</a>
                                        <ul class="sub-menu collapse" id="eyewear2">
                                            <li><a href="#">Eyewear Style 1</a></li>
                                            <li><a href="#">Eyewear Style 2</a></li>
                                            <li><a href="#">Eyewear Style 3</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#footwear2" class="collapsed">
                                        <a href="#">Footwear</a>
                                        <ul class="sub-menu collapse" id="footwear2">
                                            <li><a href="#">Footwear 1</a></li>
                                            <li><a href="#">Footwear 2</a></li> 
                                            <li><a href="#">Footwear 3</a></li>
                                        </ul>
                                    </li> {% endcomment %}
                                </ul>
                            </div>
                        </div>
                    </div>

                     <div class="widget price mb-50">
                        <h6 class="widget-title mb-30">Filter by Price</h6>
                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="0" data-max="3000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="1350" data-label-result="Price:">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="range-price">Price: 0 - 1350</div>
                            </div>
                        </div>
                    </div>

                     {% comment %} <div class="widget color mb-70">
                        <h6 class="widget-title mb-30">Filter by Color</h6>
                        <div class="widget-desc">
                            <ul class="d-flex justify-content-between">
                                <li class="gray"><a href="#"><span>(3)</span></a></li>
                                <li class="red"><a href="#"><span>(25)</span></a></li>
                                <li class="yellow"><a href="#"><span>(112)</span></a></li>
                                <li class="green"><a href="#"><span>(72)</span></a></li>
                                <li class="teal"><a href="#"><span>(9)</span></a></li>
                                <li class="cyan"><a href="#"><span>(29)</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget size mb-50">
                        <h6 class="widget-title mb-30">Filter by Size</h6>
                        <div class="widget-desc">
                            <ul class="d-flex justify-content-between">
                                <li><a href="#">XS</a></li>
                                <li><a href="#">S</a></li>
                                <li><a href="#">M</a></li>
                                <li><a href="#">L</a></li>
                                <li><a href="#">XL</a></li>
                                <li><a href="#">XXL</a></li>
                            </ul>
                        </div>
                    </div>  {% endcomment %}

                    {% comment %} <div class="widget recommended">
                        <h6 class="widget-title mb-30">Recommended</h6>

                        <div class="widget-desc">
                            <!-- Single Recommended Product -->
                            <div class="single-recommended-product d-flex mb-30">
                                <div class="single-recommended-thumb mr-3">
                                    <img src="img/product-img/product-10.jpg" alt="">
                                </div>
                                <div class="single-recommended-desc">
                                    <h6>Men’s T-shirt</h6>
                                    <p>$ 39.99</p>
                                </div>
                            </div>
                            <!-- Single Recommended Product -->
                            <div class="single-recommended-product d-flex mb-30">
                                <div class="single-recommended-thumb mr-3">
                                    <img src="img/product-img/product-11.jpg" alt="">
                                </div>
                                <div class="single-recommended-desc">
                                    <h6>Blue mini top</h6>
                                    <p>$ 19.99</p>
                                </div>
                            </div>
                            <!-- Single Recommended Product -->
                            <div class="single-recommended-product d-flex">
                                <div class="single-recommended-thumb mr-3">
                                    <img src="img/product-img/product-12.jpg" alt="">
                                </div>
                                <div class="single-recommended-desc">
                                    <h6>Women’s T-shirt</h6>
                                    <p>$ 39.99</p>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            
{% comment %} 
		<div class="form-inline">
			
			
		</div>
</header>    {% endcomment %}
           
            <div class="col-12 col-md-8 col-lg-9">
                    
                <div class="shop_grid_product_area">
                
                    <div class="row">
                   

                        <!-- Single gallery Item -->
                        {% for items in products%}
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.2s">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{items.pro_images.url}}" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">{{items.product_max_price}}</h4>
                                <p><a href="{{ items.get_absolute_url }}">{{items.product_name}}</a></p>
                                <!-- Add to Cart -->
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div>
                        </div>
                        {% endfor %}
{% comment %} 
                        <!-- Single gallery Item -->
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.3s">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="img/product-img/product-2.jpg" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.4s">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="img/product-img/product-3.jpg" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.5s">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="img/product-img/product-4.jpg" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.6s">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="img/product-img/product-5.jpg" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.7s">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="img/product-img/product-6.jpg" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.8s">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="img/product-img/product-7.jpg" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.9s">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="img/product-img/product-8.jpg" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div>
                        </div>

                        <!-- Single gallery Item -->
                        <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="1s">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="img/product-img/product-9.jpg" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                                <!-- Add to Cart -->
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="shop_pagination_area wow fadeInUp" data-wow-delay="1.1s">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}